:root {
    --blue-color: #0075ff;
    --blue-alt-color: #0d69d5;
    --orange-color: #f59e0b;
    --green-color: #22c55e;
    --red-color: #f44336;
    --grey-color: #888;
}

/* start of components */
.align-justify-c {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* end of components */
/* start of box styling  */
.of-hidden {
    overflow: hidden;
}

.d-flex {
    display: flex;
}
.flex-fill {
    flex: 1;
}
.flex-c {
    flex-direction: column;
}

.align-c {
    align-items: center;
    display: flex;
}
.align-end {
    align-items: flex-end;
}

.justify-c {
    justify-content: center;
}

.justify-sb {
    justify-content: space-between;
}

.d-grid {
    display: grid;
}

.gap-20 {
    gap: 20px;
}

.gap-30 {
    gap: 30px;
}

.d-block {
    display: block;
}
.d-inline-block {
    display: inline-block;
}
.d-none {
    display: none;
}

@media (max-width: 767px) {
    .flex-c-mobile {
        flex-direction: column;
    }
    .justify-c-mobile {
        justify-content: center;
    }
    .d-block-mobile {
        display: block;
    }

    .d-none-mobile {
        display: none;
    }
}

/* end of box styling  */
/* start of text styling */
.txt-c {
    text-align: center;
}
.txt-tr-capital {
    text-transform: capitalize;
}
.fs-12 {
    font-size: 12px;
}
.fs-13 {
    font-size: 13px;
}

.fs-14 {
    font-size: 14px;
}
.fs-15 {
    font-size: 15px;
}
.fw-500 {
    font-weight: 500;
}

.fw-b {
    font-weight: bold;
}

@media (max-width: 767px) {
    .txt-c-mobile {
        text-align: center;
    }
}

/* end of text styling */
/* start of color  */
.c-black {
    color: black;
}

.c-white {
    color: white;
}
.c-ddd {
    color: #ddd;
}
.c-eee {
    color: #eee;
}
.c-ccc {
    color: ccc;
}
.c-777 {
    color: #777;
}
.c-grey {
    color: var(--grey-color);
}

.c-blue {
    color: #0075ff;
}

.c-blue-alt {
    color: #0d69d5;
}

.c-orange {
    color: #f59e0b;
}

.c-green {
    color: #22c55e;
}

.c-red {
    color: #f44336;
}

.bg-white {
    background-color: white;
}

.bg-eee {
    background-color: #eee;
}

.bg-grey {
    background-color: var(--grey-color);
}

.bg-blue {
    background-color: var(--blue-color);
}

.bg-blue-20 {
    background-color: rgb(0 117 255 / 20%);
}

.bg-orange {
    background-color: #f59e0b;
}

.bg-orange-20 {
    background-color: rgb(245 158 11 / 20%);
}

.bg-green {
    background-color: #22c55e;
}

.bg-green-20 {
    background-color: rgb(34 197 94 / 20%);
}
.bg-red {
    background-color: #f44336;
}
.bg-red-20 {
    background-color: #f4433620;
}
/* end of color  */
/* start of padding and margin */
.p-5 {
    padding: 5px;
}

.p-10 {
    padding: 10px;
}

.p-15 {
    padding: 15px;
}

.p-20 {
    padding: 20px;
}
.pt-10 {
    padding-top: 10px;
}
.pt-15 {
    padding-top: 15px;
}
.pt-20 {
    padding-top: 20px;
}
.pb-15 {
    padding-bottom: 15px;
}
.pb-20 {
    padding-bottom: 20px;
}
.pl-30 {
    padding-left: 30px;
}

.m-auto {
    margin: 0px auto;
}

.m-0 {
    margin: 0px;
}

.m-5 {
    margin: 5px;
}

.m-10 {
    margin: 10px;
}

.m-15 {
    margin: 15px;
}

.m-20 {
    margin: 20px;
}

.mt-0 {
    margin-top: 0;
}

.mt-5 {
    margin-top: 5px;
}

.mt-10 {
    margin-top: 10px;
}
.mt-15 {
    margin-top: 15px;
}
.mt-20 {
    margin-top: 20px;
}

.mr-5 {
    margin-right: 5px;
}
.mr-10 {
    margin-right: 10px;
}

.mr-15 {
    margin-right: 15px;
}

.mb-5 {
    margin-bottom: 5px;
}

.mb-10 {
    margin-bottom: 10px;
}
.mb-15 {
    margin-bottom: 15px;
}
.mb-20 {
    margin-bottom: 20px;
}

.ml-5 {
    margin-left: 5px;
}

.ml-10 {
    margin-left: 10px;
}

.ml-15 {
    margin-left: 15px;
}

.ml-20 {
    margin-left: 20px;
}

@media (max-width: 767px) {
    .m-0-mobile {
        margin: 0px;
    }

    .m-auto-mobile {
        margin: 0px auto;
    }
}

/* end of padding and margin */
/* start of position  */
.p-relative {
    position: relative;
}
.p-absolute {
    position: absolute;
}

/* end of position  */
/* start of width and height */
.w-full {
    width: 100%;
}

.w-fit {
    width: fit-content;
}
.h-full {
    height: 100%;
}
.h-fit {
    height: fit-content;
}

/* end of width and height */
/* start border and border-radius  */
.b-none {
    border: none;
}

.ol-none {
    outline: none;
}

.rad-6 {
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
}

.rad-10 {
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.rad-c {
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

/* end border and border-radius  */