/* color variables */

:root {
    --dark-beige-color: #6B4E45;
    --beige-color: #DEC9B2;
    --black-color: #322c2d;
}

/* start of global rules */

body {
    font-family: 'Cairo', sans-serif;
    background-color: var(--beige-color);
    background-image: url("/Images/bg.jpg");
    background-size: 800px;
    scroll-behavior: smooth;
}

* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

a {
    text-decoration: none;
}

/* end of global rules */

/* scroll bar styling */

/* width */
::-webkit-scrollbar {
    width: 15px;
}

/* Track */
::-webkit-scrollbar-track {
    background: var(--black-color);
    border: solid 3px var(--black-color);
}

/* Handle */
::-webkit-scrollbar-thumb {
    border: solid 3px var(--black-color);
    border-top: solid 5px var(--black-color);
    border-bottom: solid 5px var(--black-color);
    background-color: var(--beige-color);
    border-radius: 60px;
    min-height: 200px;
    -webkit-border-radius: 60px;
    -moz-border-radius: 60px;
    -ms-border-radius: 60px;
    -o-border-radius: 60px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #dec9b288;
}

/* end of scroll bar styling */

/* start of components */

.container .call-to-action {
    font-size: 30px;
    color: white;
    padding: 15px 25px;
    background-color: #6B4E45;
    border-radius: 20px 5px 20px 5px;
    position: relative;
    -webkit-border-radius: 20px 5px 20px 5px;
    -moz-border-radius: 20px 5px 20px 5px;
    -ms-border-radius: 20px 5px 20px 5px;
    -o-border-radius: 20px 5px 20px 5px;
    display: block;
    width: fit-content;
}

.container .call-to-action i {
    position: absolute;
    left: 50%;
    top: 0;
    transform: translatex(-50%);
    width: 0;
    font-size: 0px;
    background-color: green;
    height: calc(100% + 1px);
    border-radius: 20px 5px 20px 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .3s;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -ms-transition: .3s;
    -o-transition: .3s;
    -webkit-border-radius: 20px 5px 20px 5px;
    -moz-border-radius: 20px 5px 20px 5px;
    -ms-border-radius: 20px 5px 20px 5px;
    -o-border-radius: 20px 5px 20px 5px;
    -webkit-transform: translatex(-50%);
    -moz-transform: translatex(-50%);
    -ms-transform: translatex(-50%);
    -o-transform: translatex(-50%);
}

.container .call-to-action:hover i {
    width: 100%;
    font-size: 30px;
}

@media (max-width: 768px) {
    .container .call-to-action {
        font-size: 20px;
        font-weight: 700;
    }

    .container .call-to-action i {
        display: none;
    }
}


/* end of components */


/* start of section 1 */

.container {
    overflow: hidden;
}

.container .header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin-top: -40px;
    margin-bottom: 70px;
}

.container .header .logos {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin-bottom: 24px;
}

.container .header .logos .Founding-SA {
    max-width: 160px;
    width: 100%;
}

.container .header .logos .salasl-logo {
    max-width: 280px;
    width: 100%;
}


.container .header .header-title h2 {
    font-size: 50px;
    margin-bottom: 15px;
    font-weight: 600;
    color: var(--black-color);
}

.container .header .header-title h3 {
    font-size: 40px;
    background-color: var(--black-color);
    color: #fff;
    padding: 15px 25px;
    border-radius: 50px;
    width: fit-content;
    font-weight: 600;
    margin-bottom: 60px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
}

/* header background objects */
.container .header .logos .eagle-1 {
    width: 200px;
    left: -170px;
    top: -50px;
}

.container .header .logos .small {
    width: 80px;
}

.container .header .logos .eagle-2 {
    right: -100px;
    top: -30px;
}

.container .header .logos .eagle-3 {
    right: -125px;
    top: -5px;
}

.container .header .logos .eagle-4 {
    right: -65px;
    top: 15px;
    width: 55px;
}

.container .header .logos .flying-birds {
    right: -630px;
    bottom: -300px;
    width: 400px;
}

.container .header .logos .pattern-4 {
    width: 300px;
    top: 410px;
}

/* mobile screen */

@media (max-width: 768px) {
    .container .header {
        padding: 5px;
        margin-top: -100px;
        margin-bottom: -35px;
    }

    .container .header .logos .Founding-SA {
        max-width: 120px;
    }

    .container .header .logos .salasl-logo {
        max-width: 180px;
    }

    .container .header .header-title h2 {
        font-size: 23px;
        margin-bottom: 10px;
        font-weight: 700;
    }

    .container .header .header-title h3 {
        font-size: 18px;
        margin-bottom: 50px;
        font-weight: 700;
    }

    .container .header .logos .eagle-1 {
        width: 100px;
        left: -80px;
        top: -10px;
    }

    .container .header .logos .small {
        width: 50px;
    }

    .container .header .logos .eagle-2 {
        right: -60px;
        top: -10px;
    }

    .container .header .logos .eagle-3 {
        right: -80px;
        top: 5px;
    }

    .container .header .logos .eagle-4 {
        right: -40px;
        top: 20px;
        width: 30px;
    }

    .container .header .logos .flying-birds {
        right: -220px;
        bottom: -210px;
        width: 200px;
        z-index: -1;
    }
}

/* end of section 1 */

/* start of section 2 */

.container .section-2 {
    width: 100%;
    padding: 5px;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
}

.container .section-2::before {
    content: "!يوم التأسيس مع سلاسل غير";
    position: absolute;
    left: 50%;
    transform: translatex(-50%);
    top: -55px;
    background-color: var(--black-color);
    color: #fff;
    padding: 20px;
    border-radius: 15px;
    font-size: 26px;
    font-weight: 700;
    color: var(--beige-color);
    -webkit-transform: translatex(-50%);
    -moz-transform: translatex(-50%);
    -ms-transform: translatex(-50%);
    -o-transform: translatex(-50%);
}

.container .section-2 img {
    width: 100%;
    border-top: 3px solid var(--black-color);
    border-bottom: 3px solid var(--black-color);
}


@media (max-width: 768px) {
    .container .section-2::before {
        content: "يوم التأسيس مع سلاسل غير";
        font-size: 16px;
        top: -30px;
        padding: 10px;
        text-align: center;
    }

    .container .section-2 img {
        border: 3px solid var(--black-color);
        border-radius: 15px;
        -webkit-border-radius: 15px;
        -moz-border-radius: 15px;
        -ms-border-radius: 15px;
        -o-border-radius: 15px;
    }
}

/* end of section 2 */

/* start of section 3 */

.container .section-3 {
    width: 100%;
    margin-top: -8px;

}

.container .section-3 img {
    width: 100%;
    margin-bottom: 0px;
}

.container .section-3 .call-to-action {
    margin-bottom: 30px;
    margin-top: -50px;
    margin-left: auto;
    margin-right: auto;
}

@media (max-width: 680px) {
    .container .section-3 .call-to-action {
        font-size: 15px;
    }
}

/* end of section 3 */

/* start od section 4 */

.container .section-4 {
    width: 100%;
    margin-top: -50px;
    z-index: -1;
}

.container .section-4 img {
    width: 100%;
}

/* end of section 4  */

/* start of section 5 */

.container .section-5 {
    width: 100%;
}

.container .section-5 img {
    width: 100%;
    margin-top: -60px;
}

.container .section-5 .call-to-action {
    margin-bottom: 30px;
    margin-top: -40px;
    margin-left: auto;
    margin-right: auto;
}

.container .section-5 .call-to-action {
    margin-bottom: 30px;
    margin-top: -40px;
    margin-left: auto;
    margin-right: auto;
}

@media (max-width: 670px) {
    .container .section-5 .call-to-action {
        font-size: 15px;
    }
}

/* end of section 5  */

/* start of section 6 */

.container .section-6 {
    width: 100%;
    background-image: url("/Images/podcast-hero-bg.png");
    background-position: 0 bottom;
    z-index: 2;
}


.container .section-6 img {
    width: 100%;
}

.container .section-6 .benefits {
    width: 100%;
    padding: 30px 60px;
    display: flex;
    flex-direction: column;
    align-items: end;
    row-gap: 20px;
    margin-bottom: 40px;
}

.container .section-6 .benefits p,
.container .section-6 .benefits i {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;
    font-size: 30px;
    color: var(--black-color);
    font-weight: 700;
}

.container .section-6 .benefits .last-p {
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-start;
    gap: 10px;
}

@media (max-width: 605px) {
    .container .section-6 .benefits {
        padding: 20px 10px;
    }
    .container .section-6 .benefits p {
        font-size: 18px;
    }
}
/* end of section 6 */

/* start of section 7  */

.container .section-7 {
    width: 100%;
    z-index: 1;
}
.container .section-7 img {
    width: 100%;
    margin-top: -180px;
}
.container .section-7 .call-to-action {
    margin: 0px auto 30px;
}

@media (max-width: 700px) {
    .container .section-7 .call-to-action {
        font-size: 16px;
        margin: 0px auto 60px;
    }
    .container .section-7 img {
        margin-top: -148px;
    }
}
/* end of section 7 */

/* start of section 8 */

